doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
    block header
      include ./includes/header.pug
  body.container
    block content
  block footer
    include ./includes/footer.pug
