@import url("https://fonts.googleapis.com/css?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Philosopher&display=swap");
body.container {
  font-family: 'Philosopher', sans-serif;
  color: #000;
}
a {
  color: #000;
}
a:visited {
  color: #800080;
}
form {
  width: 50%;
  position: relative;
  left: 25%;
}
#plantBG {
  background: url("../images/plantBG.jpg") no-repeat right fixed;
}
#title {
  padding-top: 5%;
  color: #000;
  font-family: 'Lobster Two', cursive;
  font-size: 100px;
}
.img-thumbnail:hover {
  transform: scale(1.2, 1.2);
  border: 2px double #006400;
}
.plantDeco {
  border: 3px double #000;
  background-color: #fff;
}
/** Backgrounds */
#adminBG {
  background: url("../images/plantBG4.jpg") no-repeat center fixed;
}
#allPlantsBG {
  background: url("../images/plantBG6.jpg") no-repeat right fixed;
}
#addPlantBG {
  background: url("../images/plantBG2.jpg") no-repeat left fixed;
}
#updateBG {
  background: url("../images/plantBG8.jpg") no-repeat right fixed;
}
#updatedBG {
  background: url("../images/plantBG8.jpg") no-repeat right fixed;
}
#removeBG {
  background: url("../images/plantBG9.jpg") no-repeat center fixed;
}
#removedBG {
  background: url("../images/plantBG9.jpg") no-repeat center fixed;
}
h4.display-4 {
  font-family: 'Playfair Display SC', serif;
  font-weight: bolder;
  color: #000;
}
hr {
  background-color: #000;
}
#nextRepotCalc {
  background-color: #fff;
  border-radius: 5px;
}
#nextWaterCalc {
  background-color: #fff;
  border-radius: 5px;
}
input[type='submit'] {
  width: 30%;
  margin-left: 35%;
}
